* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.resume{
    max-width: 1000px;
    margin: 2rem auto;
    display: flex;
    min-height: 94vh;
    background-color: white;
    box-shadow: 0 4px 20px lightgray;
}

.resume-left{
    max-width: 30%;
}
.resume-right{
    max-width: 70%;
}

/* .edit-btn{
    margin-top: 0.6rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 0.75rem;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
}
.edit-btn:hover{
    background-color: lightgray;
} */